{% extends 'base_front.html.twig' %}
{% block content %}

<div class="row mt-5">

    <div class="col-sm-1"></div>
    <div class="col-sm-3" id="incoming"></div>

    <div class="col-sm-5" id="current"></div>

    <div class="col-sm-2" id="create"></div>
    <div class="col-sm-1"></div>

</div>
    <div locale="{{ app.request.attributes.get('_locale') }}" id="getLocale"></div>

<div id="myDialog"></div>

<div id="vars" f_id="{{ app.user.id }}"></div>

{% block title %}{% endblock %}
{% endblock %}
{%  block javascripts %}

    {{ encore_entry_script_tags('cashier') }}
{#    {{ encore_entry_script_tags('manageOrder') }}#}

{% endblock %}