{% extends 'base.html.twig' %}

{% block title %}New MenuToArticle{% endblock %}

{% block body %}
    <h1>Create new MenuToArticle</h1>

    {{ include('menu_to_article/_form.html.twig') }}

    <a href="{{ path('menu_to_article_index') }}">back to list</a>
{% endblock %}
