{% extends 'base.html.twig' %}

{% block title %}New Franchisee{% endblock %}

{% block body %}

    {% block page_title %}
        <h1>Create new Franchisee</h1>
        {% block page_subtitle %}
            <p></p>
        {% endblock %}
    {% endblock %}

    {% block page_content %}
        {{ include('franchisee/_form.html.twig') }}
        <a href="{{ path('franchisee_index') }}">back to list</a>
    {% endblock %}

{% endblock %}
