{% extends 'base.html.twig' %}

{% block title %}Edit MenuToDish{% endblock %}

{% block body %}
    <h1>Edit MenuToDish</h1>

    {{ include('menu_to_dish/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('menu_to_dish_index') }}">back to list</a>

    {{ include('menu_to_dish/_delete_form.html.twig') }}
{% endblock %}
