<form method="post" id="myDeleteForm" action="{{ path('product_origin_delete', {'id': product_origin.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_origin.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
<div id="dialog"></div>
