<form method="post" id="myDeleteForm" action="{{ path('external_invoice_delete', {'id': external_invoice.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ external_invoice.id) }}">
    <button class="btn">Supprimer</button>
</form>
<div id="dialog"></div>
