{% extends 'base_front.html.twig' %}
{% block content %}
    <div class="ml-5 mr-5">


    <h1>Envoyer une nouvelle facture externe</h1>

    {{ include('external_invoice/_form.html.twig') }}
    </div>
{% endblock %}
