{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <h1>Gérer Demande de franchisé</h1>

    {{ include('franchisee_complaint/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('franchisee_complaint_index') }}">Retour</a>

    {{ include('franchisee_complaint/_delete_form.html.twig') }}
    </section>
</div>
{% endblock %}
