        <div class=" connexion_card card p-4 navbar-light" style="background-color: #80c2e0; position:fixed; z-index: 9999; top : 20%; left:40% ; border: #FFF0A5 2px solid;" >
            <div class="d-flex justify-content-center m-2 pb-2">
                <div class="brand_logo_container">
                    <img src="{{ asset('Images/logo2.png') }}" alt="Home" class="brand-image rounded-circle z-depth-3">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container m-2">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-at" style="color: #E5735E;"></i></span>
                        </div>
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Email">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key" style="color: #E5735E;"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Mot de Passe">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input"  id="customControlInline">
                            <label class="custom-control-label white-text" for="customControlInline">Se rappeler de moi</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn " style="background-color:#FFF0A5; "> Connexion </button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links white-text">
                   Tu n'as pas de compte ? <a href="#" class="ml-2 blue-text">Inscris toi !</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#" class="blue-text">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>

