<!-- Footer -->
<footer class="page-footer font-small navbar-light fixed-bottom " style="background-color: #80c2e0; ">
    <div class="container">

        <!-- Bloc top -->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">A propos</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Nos Produits</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Aide</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Contact</a>
                </h6>
            </div>
        </div>
        <!-- End bloc top -->

        <hr class="rgba-blue-light" style="margin: 0 15%;">

        <!-- Bloc middle-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-2">
                <p style="line-height: 1.7rem">
                    Xampp 7.4.3 prefered
                    add "127.0.0.1 drivncook.local" to c://windows/system32/driver/etc/hosts
                    configure xampp/apache/conf/extras/httpd-vhosts.conf
                    add


                </p>
            </div>
        </div>
        <!-- End bloc middle -->

        <hr class="rgba-blue-light" style="margin: 0 15%;">

        <!-- Bloc bottom -->
        <div class="row pb-3">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End bloc bottom -->
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <strong>Copyright &copy; 2020-2510 <b>DRIV'N COOK</b>.</strong> All rights reserved. Long Live The Sananes
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->