<li class="dropdown user-menu">
    <a href="#" class="dropdown-toggle">
        <i class="fa fa-user fa-fw"></i>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <p>{{ app.user.username }}</p>
        </li>
        <li class="user-footer">
            <div class="text-center">
                <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
            </div>
        </li>
    </ul>
</li>