<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><strong>Créer un compte</strong></h3>
    </div>
    <div class="card-body">
        <div id="myform">
            <div class="form-group">
                <label for="name">Nom</label>
                </label><input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="lastname">Nom de Famille</label>
                <input type="text" class="form-control" id="lastname">
            </div>
            <div class="form-group">
                <label for="mail">Adresse mail</label>
                <input type="email" class="form-control" id="mail">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="8car. mini dont 1 chiffre">
            </div>
        </div>
        <button class="btn btn-primary app-color-match" id="submit"  >Envoyer</button>
    </div>
</div>

