    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title"><strong>Commande en cours</strong></h3>
        </div>
        <div class="card-body">

            <select class="custom-select">
                <option selected disabled>Compte du client</option>
                {% for option in allCustomers %}
                <option> {{ option.name }}  {{ option.lastname }}</option>
                {% endfor %}

            </select>
        </div>
    </div>
</div>