<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><strong>Nouvelle commande</strong></h3>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto blanditiis expedita ipsa ipsam maxime temporibus. Consequuntur debitis est eveniet explicabo hic natus placeat quidem quisquam reprehenderit repudiandae, saepe, sint.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto blanditiis expedita ipsa ipsam maxime temporibus. Consequuntur debitis est eveniet explicabo hic natus placeat quidem quisquam reprehenderit repudiandae, saepe, sint.</p>

    </div>
</div>
