<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><strong>Nouvelle commande</strong></h3>
    </div>
    <div class="card-body">

        {% for order in orders %}
            <a class="btn btn-primary app-color-match" data-toggle="collapse"
               href="#collapse{{ order.id }}" role="button" aria-expanded="false"
               aria-controls="collapseExample">
                {{ order.customer.name }}
            </a>

        <div class="collapse" id="collapse{{ order.id }}">
            <div class="card card-body">

            </div>
        </div>
        {% endfor %}
    </div>
</div>
