<form method="post" action="{{ path('truck_complaint_delete', {'id': truck_complaint.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ truck_complaint.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
