<form method="post" id="myDeleteForm" action="{{ path('truck_complaint_delete', {'id': truck_complaint.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ truck_complaint.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
<div id="dialog"></div>
