<form method="post" id="myDeleteForm" action="{{ path('truck_position_delete', {'id': truck_position.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ truck_position.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
<div id="dialog"></div>
