{% extends 'base_front.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">

    {{ include('truck_position/_form.html.twig', {'button_label': 'Update'}) }}
    </section>
</div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('deleteObj') }}{% endblock %}
