{% extends 'base.html.twig' %}


{%  block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('rank_index') }}">Rangs</a></li>
                        <li class="breadcrumb-item active">Modifer</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <h1>Modifier Rang</h1>

    {{ include('rank/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rank_index') }}">Retour</a>

    </section>
</div>
{% endblock %}
