<form method="post" action="{{ path('stock_dish_delete', {'id': stock_dish.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock_dish.id) }}">
    <button class="btn">Delete</button>
</form>
