{% extends 'base.html.twig' %}

{% block title %}Edit StockProduct{% endblock %}

{% block body %}
    <h1>Edit StockProduct</h1>

    {{ include('stock_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stock_product_index') }}">back to list</a>

    {{ include('stock_product/_delete_form.html.twig') }}
{% endblock %}
