{% extends 'base.html.twig' %}

{% block title %}New StockProduct{% endblock %}

{% block body %}
    <h1>Create new StockProduct</h1>

    {{ include('stock_product/_form.html.twig') }}

    <a href="{{ path('stock_product_index') }}">back to list</a>
{% endblock %}
